<div style="text-align: center">
<h1>Angular Learning Topic = Feature Module</h1>

<div>

    <a routerLink="home" routerLinkActive="active home"> Home  </a> &nbsp;&nbsp;
    <a routerLink="person" routerLinkActive="active home"> Person Eager Loading </a> &nbsp;&nbsp;
    <a routerLink="company" routerLinkActive="active home"> Company Eager Loading </a> &nbsp;&nbsp;
    <a routerLink="engineer" routerLinkActive="active home"> Engineer Lazy Loading  </a> &nbsp;&nbsp;
    <a routerLink="executive" routerLinkActive="active home"> Executive Lazy Loading preload:true </a> &nbsp;&nbsp;
    <a routerLink="manager" routerLinkActive="active home"> Manager preload:true delay:true </a> &nbsp;&nbsp;
    <a routerLink="admin" routerLinkActive="active home"> Admin canload guard </a> &nbsp;&nbsp;
    <a routerLink="user" routerLinkActive="active home"> User canActivate guard </a> &nbsp;&nbsp;

</div>

<router-outlet></router-outlet>

</div>

